.loading {
  height: 282px;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
}
.loading__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.loading__animation {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* border: 1px solid; */
  background: conic-gradient(#1a1b22, #d1d2d6);
  animation-direction: reverse;
  mask: radial-gradient(circle, transparent 69%, black 67%);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading__text {
  font-family: "Roboto";
  color: #6c707a;
  font-size: 18px;
  line-height: 24px;
}
