.cards {
  height: 580px;
}
.cards__content {
  display: flex;
  justify-content: center;
}
.cards__list {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .cards {
    padding: 0 40px;
    height: 475px;
  }
}

@media screen and (max-width: 768px) {
  .cards__list {
    flex-direction: column;
  }
}
