.cards {
  height: 580px;
}
.cards__list {
  display: flex;
  gap: 16px;
}
.cards__card {
  background-color: #ffffff;
  width: 400px;
  height: 600px;
  position: relative;
  border-radius: 20px;
}
.cards__bookmark {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.cards__img {
  width: 400px;
  height: 272px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cards__texts-content {
  padding: 20px 24px 24px;
}
.cards__date {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-top: 20px;
  margin-bottom: 12px;
}
.cards__title {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.cards__description {
  font-family: "Roboto";
  height: 110px;
  width: 352px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 18px;
  color: #1a1b22;
}
.cards__footer-text {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: #b6bcbf;
}
