.card {
  background-color: #ffffff;
  width: 400px;
  height: 596px;
  position: relative;
  border-radius: 20px;
}
.card__header {
  position: relative;
}
.card__tag {
  position: absolute;
  top: 25px;
  left: 40px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  max-width: 120px;
  z-index: 1;
}
.card__action-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}
.card__tooltip {
  position: absolute;
  top: 25px;
  right: 70px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
}
.card__action-btn:hover ~ .card__tooltip {
  visibility: visible;
}
.card__img {
  width: 400px;
  height: 272px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}
.card__texts-content {
  padding: 20px 24px 24px;
}
.card__date {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-top: 20px;
  margin-bottom: 12px;
}
.card__title {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.card__description {
  font-family: "Roboto";
  height: 110px;
  width: 352px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 18px;
  color: #1a1b22;
}
.card__footer-text {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: #b6bcbf;
}
