.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid grey;
}
.header__content {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin: 0;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

.header__home-btn {
  width: 68px;
  font-family: "Roboto";
  padding-right: 34px;
}
.header__signin-btn {
  font-family: "Roboto";
  border: 1px solid #d1d2d6;
  color: #ffffff;
  background-color: transparent;
}
