.no-results {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f5f6f7;
}

.no-results__content {
  align-items: center;
}
.no-results__img {
  width: 82.5px;
  height: 82.5px;
  margin-top: 86px;
  margin-bottom: 31.5px;
}

.no-results__title {
  font-family: "Roboto Slab";
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.no-results__text {
  font-family: "Roboto";
  width: 356px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 80px;
  color: #6c707a;
}
