.user-cards__card-section {
  background-color: #f5f6f7;
  padding: 62px 0;
}
.user-cards__content {
  display: flex;
  justify-content: center;
}
.user-cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  width: 1248px;
}
.user-cards__card {
  background-color: #ffffff;
  width: 400px;
  height: 596px;
  position: relative;
  border-radius: 20px;
}
.user-cards__header-tag {
  position: absolute;
  top: 25px;
  left: 40px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user-cards__bookmark {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}
.user-cards__header-confirm-delete {
  position: absolute;
  top: 25px;
  right: 70px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 10px;
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
}
.user-cards__bookmark:hover ~ .user-cards__header-confirm-delete {
  visibility: visible;
}
.user-cards__img {
  width: 400px;
  height: 272px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.user-cards__texts-content {
  padding: 20px 24px 24px;
}
.user-cards__header-tag {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  max-width: 120px;
}
.user-cards__date {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-top: 20px;
  margin-bottom: 12px;
}
.user-cards__title {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.user-cards__description {
  font-family: "Roboto";
  height: 110px;
  width: 352px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 18px;
  color: #1a1b22;
}
.user-cards__footer-text {
  font-family: "Roboto Slab";
  width: 352px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: #b6bcbf;
}
